#all {
    width: 300px;
    height: 400px;
    background-color: white;
    border: solid palevioletred 1px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0,0.4);

    display: flex;
    justify-content: center; /*가로*/
    align-items: center; /*세로*/
    /* 부모를 기준으로(flex) 중앙으로 정렬하겠다. */
}

#hi {
    width: 200px;
    height: 50px;
    background-color: palevioletred;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 100%;
    height: 100vh; 
    /* 보고있느 화면 기준 100 으로 잡겠다 */
    background-color: gold);
    display: flex;
    justify-content: center;
    align-items: center;
}