#x {
    display: flex;
    /* 가로or세로 축으로 일렬 이동 */
    height: 100px;
}

/* id는 독립, class는 복수 */
#a {
    background-color: red;
    width: 100px;
}
#b {
    background-color: orange;
    width: 100px;
}
#c {
    background-color: yellow;
    width: 100px;
}
#d {
    background-color: green;    
    width: 100px;
}
#e {
    background-color: blue;
    width: 100px;
}

